<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <style>
        body {
            width: 1240px;
            height: 1754px;
        }

        .underline {
            border-bottom: 1px solid #CCC;
            font-size: 10;
            text-align: center;
        }

        .items_table td {
            border: 1px solid #CCC;
            font-size: 8;
        }
    </style>

    <!-- SEKCJA Z NUMEREM FAKTURY -->
    <table width="100%" cellpadding="5">
        <tr>
            <td style="width: 33%; font-size:14"></td>
            <td style="width: 34%; border:1px solid #CCC; font-size:14; text-align: center;">
                [numer]
            </td>
            <td style="width: 33%; font-size:8; text-align:right;"></td>
        </tr>
    </table>
    <BR><BR><BR>


    <!-- SEKCJA Z INFORMACJAMI -->
    <table width="100%" cellpadding="3" style="font-size:8;">
        <tr>
            <td style="width: 20%;">
                Data sprzedaży:
            </td>
            <td style="width: 25%; border-bottom:1px solid #CCC; text-align: center;">
                [data_sprzedazy]
            </td>
            <td style="width: 10%;"></td>
            <td style="width: 20%;">
                Miejsce wystawienia:
            </td>
            <td style="width: 25%; border-bottom:1px solid #CCC; text-align: center;">
                [miejsce_wystawienia]
            </td>
        </tr>
        <tr>
            <td style="width: 20%;">
                Data wystawienia:
            </td>
            <td style="width: 25%; border-bottom:1px solid #CCC; text-align: center;">
                [data_wystawienia]
            </td>
            <td style="width: 10%;"></td>
            <td style="width: 20%;">
                Sposób zapłaty:
            </td>
            <td style="width: 25%; border-bottom:1px solid #CCC; text-align: center;">
                [sposob_zaplaty]
            </td>
        </tr>
    </table>

    <!-- SEKCJA Z ADRESAMI -->
    <table width="100%" cellspacing="15" style="font-size:10">
        <tr>
            <td style="width: 50%;">
                <div class="underline">Sprzedawca:</div>
                <BR>[sprzedawca]
            </td>
            <td style="width: 50%;">
                <div class="underline">Nabywca:</div>
                <BR>[nabywca_imie_nazwisko][nabywca_firma][nabywca_adres]
                <BR>[nabywca_kod_pocztowy], [nabywca_miasto], [nabywca_kraj]
                <BR>[nabywca_nip]
            </td>
        </tr>
    </table>
    <BR><BR>

    <!-- TABELA Z PRODUKTAMI -->
    <table cellspacing="0" cellpadding="2" class="items_table" width="100%">
        <tr style="background-color:#EEE;">
            <td width="42%" align="center">Nazwa towaru/usługi</td>
            <td width="3%" align="center">JM</td>
            <td width="9%" align="center">Jedn. <BR>netto</td>
            <td width="9%" align="center">Jedn. <BR>brutto</td>
            <td width="5%" align="center">Ilość</td>
            <td width="9%" align="center">Wartość netto</td>
            <td width="5%" align="center">VAT</td>
            <td width="9%" align="center">Wartość VAT</td>
            <td width="9%" align="center">Wartość brutto</td>
        </tr>

        <!-- FAKTURA POZYCJE -->
        <tr style="text-align:right;">
            <td style="text-align:left;">[nazwa]</td>
            <td style="text-align:center;">szt</td>
            <td>[wartosc_netto_szt]</td>
            <td>[wartosc_brutto_szt]</td>
            <td>[faktura_ilosc]</td>
            <td>[wartosc_netto_pozycja]</td>
            <td>[faktura_stawka_vat]%</td>
            <td>[wartosc_vat_pozycja]</td>
            <td>[wartosc_brutto_pozycja]</td>
        </tr>


        <tr style="text-align:center; background-color:#EEE;">
            <td colspan="5" style="border-left: 2px solid #FFF; border-bottom: 2px solid #FFF; background-color:#FFF;"></td>
            <td>Netto</td>
            <td></td>
            <td>VAT</td>
            <td>Brutto</td>
        </tr>

        <tr style="text-align:right;">
            <td colspan="5" style="border-left: 2px solid #FFF; border-bottom: 2px solid #FFF; background-color:#FFF;">
                Razem:
            </td>
            <td>[wartosc_netto]</td>
            <td></td>
            <td>[wartosc_vat]</td>
            <td>[wartosc_brutto]</td>
        </tr>


        <tr>
            <td colspan="5" style="border: 2px solid #FFF;"></td>
            <td colspan="4" style="border-left: 2px solid #FFF; border-right: 2px solid #FFF; background-color:#FFF;"></td>
        </tr>

        <!--    [FAKTURA_STAWKI_VAT]-->
        <tr style="text-align:right;">
            <td colspan="5" style="border-left: 2px solid #FFF; border-bottom: 2px solid #FFF; background-color:#FFF;">W
                tym:
            </td>
            <td>[stawka_wartosc_netto]</td>
            <td>[stawka_nazwa]%</td>
            <td>[stawka_wartosc_vat]</td>
            <td>[stawka_wartosc_brutto]</td>
        </tr>

    </table>
    <BR>


    <!-- PODSUMOWANIE -->
    <table style="font-size:8; width: 10%; border-bottom: 1px solid #CCC;">
        <tr>
            <td>Słownie:</td>
        </tr>
    </table>
    <span style="font-size:8">[wartosc_slownie]</span>
    <BR><BR><BR>
    <div align="right" style="font-size: 8;">Osoba upoważniona do wystawienia dokumentu<BR>[osoba_upowazniona]</div>
    <BR><BR>
    <div style="font-size: 8;">[dodatkowe_informacje]</div>
</body>
</html>